{% extends "templates/emails/saas.html" %} {% import
"templates/emails/macros.html" as utils %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Chào mừng bạn đến với MBWCloud!</strong></p>
		<p class="mb-4">{{ message }}</p>
		<p>
			Nếu bạn có bất kỳ lo ngại hoặc câu hỏi nào, đừng ngần ngại liên hệ với đội
			hỗ trợ của chúng tôi tại {{ utils.link('mbwcloud.com/lien-he',
			'https://eov.mbwcloud.com/lien-he/')}}
		</p>
		{{ utils.button('Xem công việc triển khai', link, true) }} {{
		utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}