{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/en_saas.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong class="text-lg">Hello Partner Manager</strong></p>
        <p>User {{ user }} has raised a request to link their team to Partner {{ partner }}.</p>
        <p>
            Confirm your consent by clicking on the following button.
        </p>
        {{ utils.button('Accept', link, true) }}
        {{ utils.separator() }} {{ utils.footer('en') }}
    </div>
</td>

{% endblock %}