{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/en_saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong class="text-lg">Reset your account password</strong></p>
        <p>
            Please click the button below to reset your password. If this wasn’t you, please ignore this email.
        </p>
        {{ utils.button('Change Password', link, true) }} {{ utils.separator() }}
        {{ utils.footer('en') }}
    </div>
</td>

{% endblock %}