{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/en_saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>
            <strong class="text-lg">Hello {{user_name}},</strong>
        </p>
        <p> <strong class="text-lg">Your organizations have been reactivated!</strong> </p>
        <p>You can now access your organizations.</p>
        <p>
            Sincerely,<br />
            MBWCloud
        </p>
        {{ utils.separator() }} {{ utils.footer('en') }}
    </div>
</td>

{% endblock %}