{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/en_saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p>
            <strong class="text-lg">Hello {{user_name}}</strong>,
        </p>
        <p><strong>Important Warning:</strong> The storage capacity of your website <strong>{{site_name}}</strong> is
            full or has exceeded the allowed limit!</p>
        <p><strong>Storage details:</strong></p>
        <p>- Your website has exceeded the limit of {{max_storage_usage}} GB.</p>
        <p><strong>Impact:</strong></p>
        <p>- Unable to upload more data, images, or files.</p>
        <p>- Some features may stop working.</p>
        <p>- The website may face interruptions.</p>
        <p><strong>How to fix this immediately:</strong></p>
        <p>- Delete unnecessary data.</p>
        <p>- <strong>Upgrade storage now</strong> to avoid disruptions:</p>
        {{ utils.button('Upgrade Now', link, true) }}
        <p><strong>Need support?</strong> Contact us via email at <strong><a
                    href="mailto:info@mbw.vn">info@mbw.vn</a></strong>.</p>
        <p><strong>Please act quickly to avoid service interruptions.</strong></p>
        <p>
            Sincerely,<br />
            EOVCloud
        </p>
        {{ utils.separator() }} {{ utils.footer('en') }}
    </div>
</td>

{% endblock %}