{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/en_saas.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
    <div class="p-8 bg-white from-markdown">
        <p><strong class="text-lg">Hello,</strong></p>
        <p class="mb-4 font-bold">{{ subject }}</p>
        <p class="mb-6"> Unfortunately, we must inform you that your site hosted on MBWCloud has been
            temporarily <strong>suspended</strong> due to an unpaid invoice.<br /> <br /> To continue using your
            site on MBWCloud, please settle your invoice by visiting your dashboard: <a
                href="https://admin.mbwnext.com/dashboard/billing/overview">MBWCloud Dashboard.</a> <br /> <br />
            <strong>Once your invoice is paid, your site will be reactivated immediately.</strong><br /> <br />
            Please complete these steps before <strong>the 20th of this month</strong>. Otherwise, your site
            will be canceled, and if you are on a subscription plan, you may permanently lose your data.<br /> <br /> If
            you have any concerns or questions, please contact our <a href="https://support.eov.solutions">support
                team</a>.
        </p>

        {%- if sites -%} {{ utils.separator() }}
        <p class="mt-0 mb-2">The following organizations have been suspended:</p>
        <ul class="list-disc">
            {%- for site in sites -%}
            <li class="text-sm font-medium">{{ site }}</li>
            {%- endfor -%}
        </ul>
        {%- endif -%}
        <p>
            Sincerely,<br />
            MBWCloud
        </p>
        {{ utils.separator() }} {{ utils.footer('en') }}
    </div>
</td>

{% endblock %}