{% extends "templates/emails/saas.html" %} {% import
"templates/emails/macros.html" as utils %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Chào mừng bạn đến với EOVCloud!</strong></p>
		<p>Đăng nhập vào tài khoản EOV Cloud của bạn từ tổ chức: {{ site }}</p>
		<p class="my-0">
			Vui lòng xác nhận địa chỉ email của bạn bằng cách nhấp vào nút bên dưới:
		</p>
		{{ utils.button('Xác thực tài khoản', login_url, true) }}
		<p class="text-xs italic">
			Lưu ý: Liên kết này chỉ có thể được sử dụng một lần trước khi hết hạn. Nếu
			nó hết hạn vui lòng tạo một liên kết mới.
		</p>
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}