{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/vi_saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Thiết lập lại mật khẩu cho tài khoản</strong></p>
		<p>
			Vui lòng nhấp vào nút bên dưới để đặt lại mật khẩu của bạn. Nếu đây không
			phải là bạn, vui lòng bỏ qua email này.
		</p>
		{{ utils.button('Thay đổi mật khẩu', link, true) }} {{ utils.separator() }}
		{{ utils.footer() }}
	</div>
</td>

{% endblock %}