{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% set title = title %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Chào mừng bạn đến với EOVCloud!</strong></p>
		<p>
			Vui lòng xác nhận địa chỉ email để hoàn tất thiết lập tài khoản của bạn.
		</p>
		{{ utils.button('Kích hoạt tài khoản', link, true) }} {{ utils.separator()
		}} {{ utils.footer() }}
	</div>
</td>

{% endblock %}