{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p>
			<strong class="text-lg">Cảnh báo!!! Tổ chức của bạn sẽ bị khóa.</strong>
		</p>
		<p>
			Vui lòng nạp thêm tiền vào tài khoản để thanh toán hóa đơn còn nợ để tiếp
			tục sử dụng dịch vụ của chúng tôi.
		</p>
		<!-- {{ utils.button('Kích hoạt tài khoản', link, true) }} -->
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}
