{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p>
			<strong class="text-lg">Các tổ chức của bạn đã được mở lại!</strong>
		</p>
		<p>Hiện giờ bạn đã có thể truy cập vào các tổ chức của bạn.</p>
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}