{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p>
			<strong class="text-lg">Các tổ chức của bạn đã bị khóa!</strong>
		</p>
		<p>
			Không đủ số dư tài khoản để thanh toán cho hóa đơn, chúng tôi đã khóa các
			tổ chức của bạn.
		</p>
		<!-- {{ utils.button('Kích hoạt tài khoản', link, true) }}  -->
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}
