{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong>Bạn gần hoàn thành rồi!</strong></p>
		<p>
			Chỉ còn một bước nhanh để bắt đầu với MBW Cloud! Vui lòng xác nhận địa chỉ
			email của bạn để hoàn tất thiết lập tài khoản.
		</p>
		{{ utils.button('Verify Account', link, true) }} {{ utils.separator() }}
		<p class="my-0">Team MBW</p>
	</div>
	{% if read_pixel_path %}
	<img src="{{ read_pixel_path }}" />
	{% endif %}
</td>

{% endblock %}
