{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/saas.html" %} {% block content %}
<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Chào mừng bạn đến với EOVCloud!</strong></p>

		<p class="mb-4 font-bold">
			Nâng cấp phiên bản tự động không thành công. Vui lòng giải quyết vấn đề và
			thử lại.
		</p>
		<p class="font-bold">Site:</p>
		<pre>{{ site }}</pre>
		<p class="font-bold">Traceback:</p>
		<pre>{{ traceback }}</pre>
		<p class="font-bold">Output:</p>
		<pre>{{ output }}</pre>
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>
{% endblock %}