{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/vi_saas.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p class="mb-4 font-bold">
			{%- if subject -%}
			{{ subject }}
			{%- endif -%}
		</p>
		<p>
			{%- if status == 'Rejected' -%} Rất tiếc, yêu cầu phê duyệt của bạn cho
			bản phát hành ứng dụng
			<a class="text-blue-500" href="{{ releases_link }}">'{{ commit_message }}'</a>
			đã bị từ chối. Lý do từ chối: {{ rejection_reason }} {%- endif -%} {%- if
			status == 'Approved' -%} Yêu cầu phê duyệt của bạn cho bản phát hành ứng
			dụng
			<a class="text-blue-500" href="{{ releases_link }}">'{{ commit_message }}'</a>
			đã được chấp nhận và bản phát hành này sẽ được xuất bản trên Marketplace.
			{%- endif -%}
		</p>

		{%- if status == 'Approved' -%}
		<p class="text-base mt-5">
			Lưu ý: Sau khi được phê duyệt, có thể mất tới một tuần để một bản phát
			hành được triển khai trên Marketplace.
		</p>
		{%- endif -%} {{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}