{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/vi_saas.html" %} {% set title = title %} {% set image_path =
image_path %} {% set read_pixel_path = read_pixel_path %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p>
			<strong class="text-lg">Xin chào,</strong>
		</p>
		<p>
			Chúng tôi viết thư này để cảnh báo về tình trạng thanh toán của tài khoản
			của bạn và nguy cơ sắp tới của việc không duy trì số dư đủ trong
			{{number_day}} ngày tới đối với tổ chức
			<strong class="text-lg">{{ site_name }}</strong>.
		</p>
		<p>
			Sau quá trình xử lý giao dịch thanh toán gần đây, chúng tôi đã phát hiện
			rằng tài khoản của bạn trong {{number_day}} ngày tới không đủ số dư để
			thanh toán các dịch vụ của chúng tôi. Điều này có thể dẫn đến việc ngừng
			hoạt động của tổ chức của bạn trong tương lai gần.
		</p>
		<p>
			Để tránh tình trạng này, chúng tôi khuyến nghị bạn kiểm tra lại tài khoản
			của mình và đảm bảo rằng có đủ số dư để thanh toán các dịch vụ của chúng
			tôi. Nếu có bất kỳ vấn đề gì, vui lòng liên hệ với bộ phận thanh toán của
			chúng tôi để được hỗ trợ.
		</p>
		<p>
			Nếu bạn cần hỗ trợ hoặc có bất kỳ câu hỏi nào, xin đừng ngần ngại liên hệ
			với chúng tôi.
		</p>
		<p>
			Trân trọng,<br />
			EOVCloud
		</p>
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}