{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/vi_saas.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Xin chào người quản lý đối tác</strong></p>
		<p>
			Người dùng {{ user }} đã gửi yêu cầu liên kết nhóm của họ với Đối tác {{ partner }}.
		</p>
		<p class="my-0">Xác nhận sự đồng ý của bạn bằng cách nhấp vào nút sau.</p>
		{{ utils.button('Chấp nhận', link, true) }} {{ utils.separator() }} {{
		utils.footer() }}
	</div>
</td>

{% endblock %}