{% import "templates/emails/macros.html" as utils %} {% extends
"templates/emails/vi_saas.html" %} {% block content %}

<td class="text-base leading-6 text-gray-900">
	<div class="p-8 bg-white from-markdown">
		<p><strong class="text-lg">Xin chào,</strong></p>
		<p class="mb-4 font-bold">{{ subject }}</p>
		<p class="mb-6">
			Rất tiếc, chúng tôi phải thông báo rằng tổ chức của bạn đang được lưu trữ
			trên EOVCloud đã bị tạm thời <strong>dừng</strong> do một hóa đơn chưa
			thanh toán.<br />
			<br />
			Để tiếp tục sử dụng tổ chức của bạn trên EOVCloud, vui lòng thanh toán
			hóa đơn của bạn bằng cách truy cập vào trang của bạn.
			<a href="https://cloud.eov.solutions/dashboard/billing/overview">EOVCloud Dashboard.</a>
			<br />
			<br />
			<strong>Sau khi hóa đơn của bạn được thanh toán, tổ chức của bạn sẽ được kích
				hoạt ngay lập tức.</strong><br />
			<br />
			Vui lòng hoàn tất các bước trên trước
			<strong>ngày 20 của tháng này</strong>. Nếu không, tổ chức của bạn sẽ bị
			hủy và nếu bạn đã đăng ký gói, có khả năng bạn sẽ mất dữ liệu của mình
			vĩnh viễn.<br />
			<br />
			Nếu bạn có bất kỳ lo ngại hoặc câu hỏi nào, vui lòng liên hệ
			<a href="https://support.eov.solutions">đội hỗ trợ</a>
			của chúng tôi.
		</p>

		{%- if sites -%} {{ utils.separator() }}
		<p class="mt-0 mb-2">Các tổ chức sau đã bị dừng:</p>
		<ul class="list-disc">
			{%- for site in sites -%}
			<li class="text-sm font-medium">{{ site }}</li>
			{%- endfor -%}
		</ul>
		{%- endif -%}
		<p>
			Trân trọng,<br />
			EOVCloud
		</p>
		{{ utils.separator() }} {{ utils.footer() }}
	</div>
</td>

{% endblock %}