<footer class="section-footer">
	<div
		class="bg-[#192734] py-3 md:px-0 mx-auto min-h-[140px] border-t-[1px] border-[#E2E6E9]"
	>
		<div class="container mx-auto p-0 w-full xl:px-10">
			<div class="grid grid-cols-1 sm:grid-cols-7 text-gray-400 text-lg">
				<div class="col-span-3 card mx-2 px-2 pt-3 pb-4 leading-8">
					<div class="card-header font-bold text-xl">EOV Cloud</div>
					<div class="divider"></div>
					<div class="card-body">
						<div>
							<strong>Hotline</strong>
							<span>: 090 150 8000</span>
						</div>
						<div>
							<strong>Email</strong><span>: marketing@mobiwork.vn</span>
						</div>
						<div>
							<strong>Address</strong>
							<span
								>: Khu văn phòng Tầng 3, Toà CT1, Khu nhà ở Bộ Công An,Đường
								Phạm Văn Đồng, Phường Cổ Nhuế 2, Quận Bắc Từ Liêm,TP. Hà Nội
							</span>
						</div>
						<div>
							<strong>Address</strong>
							<span
								>: Tầng 6, Tòa Parami, Số 140 Bạch Đằng 2, Phường 2,Quận Tân
								Bình, Tp. Hồ Chí Minh
							</span>
						</div>
					</div>
				</div>
				<div class="col-span-2 card mx-2 px-2 pt-3 pb-4 leading-8">
					<div class="card-header font-bold text-xl text-gray-400">
						Bộ ứng dụng
					</div>
					<div class="divider"></div>
					<div class="card-body">
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									MBW Hub - Quản trị kinh doanh
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									MBW HR - Quản trị nhân sự
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									MBW Workspace - Văn phòng số
								</a>
							</span>
						</div>
					</div>
				</div>
				<div class="col-span-2 card mx-2 px-2 pt-3 pb-4 leading-8">
					<div class="card-header font-bold text-xl text-gray-400">Công ty</div>
					<div class="divider"></div>
					<div class="card-body">
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									Về chúng tôi
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									Liên hệ
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									Đối tác
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									Blog
								</a>
							</span>
						</div>
						<div class="flex">
							<span class="checker">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									height="2em"
									viewBox="0 0 448 512"
								>
									<!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #b6bac2;
										}
									</style>
									<path
										d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"
									/>
								</svg>
							</span>
							<span
								><a
									href="#"
									class="router-link-exact-active router-link-active"
									aria-current="page"
								>
									Hướng dẫn sử dụng
								</a>
							</span>
						</div>
						<div class="mt-10">
							<a
								href="#"
								class="router-link-exact-active router-link-active"
								aria-current="page"
							>
								<img src="/assets/press/images/bo_cong_thuong.png" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="bg-[#0A1722] text-[#C4C4C4] py-2 md:px-0 mx-auto border-t-[1px] border-[#A2A2A2]"
	>
		<div class="container mx-auto px-5 w-full xl:px-14">
			<div class="grid grid-cols-1 sm:grid-cols-2">
				<div class="col-span-1 my-4">Mobiwork 2023. All rights reserved</div>
				<div class="col-span-1 my-4 flex flex-wrap">
					<div class="underline mr-8">
						<a href="/thoa-thuan-su-dung-dich-vu">Điều khoản dịch vụ</a>
					</div>
					<div class="underline mr-8">
						<a href="/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật</a>
					</div>
					<div class="underline">
						<a href="/thoa-thuan-su-dung-dich-vu">Chính sách quyền riêng tư</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
