/* ------------tailwind------------ */
.left-0 {
	left: 0;
}

.top-0 {
	top: 0px;
}
.top-5 {
	top: 1.25rem /* 20px */;
}

.right-0 {
	right: 0px;
}
.right-4 {
	right: 1rem /* 16px */;
}

.bottom-0 {
	bottom: 0px;
}
.bottom-24 {
	bottom: 6rem /* 96px */;
}

/* rounded */
.rounded-xl {
	border-radius: 1rem /* 16px */;
}
.rounded-tr-2xl {
	border-top-right-radius: 1.25rem /* 20px */;
}
.rounded-bl-2xl {
	border-bottom-left-radius: 1.25rem /* 20px */;
}
.rounded-br-2xl {
	border-bottom-right-radius: 1.25rem /* 20px */;
}

/* rounded */

.border-t {
	border-top-width: 1px;
}

.border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgb(237 237 237 / var(--tw-border-opacity));
}

.gap-3 {
	gap: 0.75rem /* 12px */;
}

.gap-5 {
	gap: 1.25rem /* 20px */;
}

.gap-6 {
	gap: 1.5rem /* 24px */;
}

.gap-8 {
	gap: 2rem /* 32px */;
}

.z-20 {
	z-index: 20;
}

.break-all {
	word-break: break-all;
}

.overflow-x-auto {
	overflow-x: auto;
}

.overflow-auto {
	overflow: auto;
}

.inset-0 {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.sticky {
	position: sticky;
}

.fixed {
	position: fixed;
}

.h-80 {
	height: 20rem /* 320px */;
}
.h-screen {
	height: 100vh;
}

.w-screen {
	width: 100vw;
}

.col-span-2 {
	grid-column: span 2 / span 2;
}
.col-span-3 {
	grid-column: span 3 / span 3;
}
.col-span-5 {
	grid-column: span 5 / span 5;
}
.col-span-6 {
	grid-column: span 6 / span 6;
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.max-w-xl {
	max-width: 36rem /* 576px */;
}

.min-w-\[48rem\] {
	min-width: 48rem /* 768px */;
}

.min-w-40 {
	min-width: 10rem /* 160px */;
}

.min-w-50 {
	min-width: 18rem /* 288px */;
}
.min-w-max {
	min-width: max-content;
}

.w-1\/2 {
	width: 50%;
}

.w-\[51\%\] {
	width: 51%;
}

.w-28 {
	width: 7rem /* 112px */;
}

.w-56 {
	width: 14rem /* 224px */;
}

.w-60 {
	width: 15rem /* 240px */;
}

.w-\[228px\] {
	width: 228px;
}

/* space */
.space-y-5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.25rem /* 20px */ * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.25rem /* 20px */ * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem /* 12px */ * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem /* 12px */ * var(--tw-space-y-reverse));
}

/* width */
.w-5 {
	width: 1.25rem /* 20px */;
}

.w-8 {
	width: 2rem /* 32px */;
}

.w-24 {
	width: 6rem /* 96px */;
}

/* height */

.h-2 {
	height: 0.5rem /* 8px */;
}
.h-5 {
	height: 1.25rem /* 20px */;
}
.h-24 {
	height: 6rem /* 96px */;
}
.h-28 {
	height: 7rem /* 112px */;
}

.h-\[600px\] {
	height: 600px;
}

.max-h-\[200px\] {
	max-height: 200px;
}
.max-h-\[600px\] {
	max-height: 600px;
}

.max-h-80 {
	max-height: 20rem /* 320px */;
}

/* padding */
.p-0 {
	padding: 0px;
}

.p-3 {
	padding: 0.75rem /* 12px */;
}

.pb-2 {
	padding-bottom: 0.5rem /* 8px */;
}
.pb-6 {
	padding-bottom: 1.5rem /* 24px */;
}
.pb-24 {
	padding-bottom: 6rem /* 96px */;
}

.pr-5 {
	padding-right: 1.25rem /* 20px */;
}

.py-1\.5 {
	padding-top: 0.375rem /* 6px */;
	padding-bottom: 0.375rem /* 6px */;
}

.py-2\.5 {
	padding-top: 0.625rem /* 10px */;
	padding-bottom: 0.625rem /* 10px */;
}

.py-20 {
	padding-top: 5rem /* 80px */;
	padding-bottom: 5rem /* 80px */;
}

.hover\:underline:hover {
	text-decoration-line: underline;
}

.hover\:text-red-500:hover {
	--tw-text-opacity: 1;
	color: rgb(224 54 54 / var(--tw-text-opacity));
}
.hover\:text-red-600:hover {
	--tw-text-opacity: 1;
	color: rgb(204 41 41 / var(--tw-text-opacity));
}
.hover\:text-red-700:hover {
	--tw-text-opacity: 1;
	color: rgb(181 42 42 / var(--tw-text-opacity));
}

.focus\:border-red-500:focus {
	--tw-border-opacity: 1;
	border-color: rgb(224 54 54 / var(--tw-border-opacity));
}

.bg-red-300 {
	--tw-bg-opacity: 1;
	background-color: rgb(249 198 198 / var(--tw-bg-opacity));
}

.bg-red-400 {
	--tw-bg-opacity: 1;
	background-color: rgb(235 144 145 / var(--tw-bg-opacity));
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(2 137 247 / var(--tw-text-opacity, 1)) /* #0289f7 */;
}

.ml-1 {
	margin-left: 0.25rem /* 4px */;
}

.ml-6 {
	margin-left: 1.5rem /* 24px */;
}

.ml-13 {
	margin-left: 3.25rem /* 52px */;
}

.mt-10 {
	margin-top: 2.5rem /* 40px */;
}

.my-5 {
	margin-top: 1.25rem /* 20px */;
	margin-bottom: 1.25rem /* 20px */;
}

.mt-4 {
	margin-top: 1rem /* 16px */;
}

.mb-3 {
	margin-bottom: 0.75rem /* 12px */;
}
.mb-4 {
	margin-bottom: 1rem /* 16px */;
}
.mb-5 {
	margin-bottom: 1.25rem /* 20px */;
}
.mb-12 {
	margin-bottom: 3rem /* 48px */;
}
.mb-24 {
	margin-bottom: 6rem /* 96px */;
}

.m-2 {
	margin: 0.5rem /* 8px */;
}

.mr-3 {
	margin-right: 0.75rem /* 12px */;
}

.mr-4 {
	margin-right: 1rem /* 16px */;
}

.mr-5 {
	margin-right: 1.25rem /* 20px */;
}

.h-20 {
	height: 5rem /* 80px */;
}

.mx-3 {
	margin-left: 0.75rem /* 12px */;
	margin-right: 0.75rem /* 12px */;
}
.mx-5 {
	margin-left: 1.25rem /* 20px */;
	margin-right: 1.25rem /* 20px */;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}
.px-6 {
	padding-left: 1.5rem /* 24px */;
	padding-right: 1.5rem /* 24px */;
}
.px-7 {
	padding-left: 1.75rem /* 28px */;
	padding-right: 1.75rem /* 28px */;
}
.px-8 {
	padding-left: 2rem /* 32px */;
	padding-right: 2rem /* 32px */;
}

.p-4 {
	padding: 1rem /* 16px */;
}

.py-5 {
	padding-top: 1.25rem /* 20px */;
	padding-bottom: 1.25rem /* 20px */;
}
.py-8 {
	padding-top: 2rem /* 32px */ !important;
	padding-bottom: 2rem /* 32px */ !important;
}
.py-28 {
	padding-top: 7rem /* 112px */;
	padding-bottom: 7rem /* 112px */;
}

.my-4 {
	margin-top: 1rem /* 16px */;
	margin-bottom: 1rem /* 16px */;
}

.my-3 {
	margin-top: 0.75rem /* 12px */;
	margin-bottom: 0.75rem /* 12px */;
}

.my-2 {
	margin-top: 0.5rem /* 8px */;
	margin-bottom: 0.5rem /* 8px */;
}

.mb-8 {
	margin-bottom: 2rem /* 32px */;
}

.my-8 {
	margin-top: 2rem /* 32px */;
	margin-bottom: 2rem /* 32px */;
}

.pl-3 {
	padding-left: 0.75rem /* 12px */;
}
.pl-4 {
	padding-left: 1rem /* 16px */;
}
.pl-5 {
	padding-left: 1.25rem /* 20px */;
}
.pl-11 {
	padding-left: 2.75rem /* 44px */;
}

.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.duration-300 {
	animation-duration: 300ms;
}

.opacity-0 {
	opacity: 0;
}
.opacity-80 {
	opacity: 0.8;
}
.opacity-100 {
	opacity: 1;
}

.text-ellipsis {
	text-overflow: ellipsis;
}

.scale-95 {
	--tw-scale-x: 0.95;
	--tw-scale-y: 0.95;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.bg-\[\#192734\] {
	--tw-bg-opacity: 1;
	background-color: rgb(25 39 52 / var(--tw-bg-opacity));
}

.bg-\[\#0A1722\] {
	--tw-bg-opacity: 1;
	background-color: rgb(10 23 34 / var(--tw-bg-opacity));
}

.bg-green-600 {
	--tw-bg-opacity: 1;
	background-color: rgb(48 166 109 / var(--tw-bg-opacity));
}

.bg-gray-500 {
	--tw-bg-opacity: 1;
	background-color: rgb(153 153 153 / var(--tw-bg-opacity));
}

.bg-\[\#22C55E\] {
	--tw-bg-opacity: 1;
	background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.bg-opacity-75 {
	--tw-bg-opacity: 0.75;
}

.text-\[\#C4C4C4\] {
	--tw-text-opacity: 1;
	color: rgb(196 196 196 / var(--tw-text-opacity));
}
.text-gray-100 {
	--tw-text-opacity: 1;
	color: rgb(243 243 243 / var(--tw-text-opacity));
}

.text-purple-800 {
	--tw-text-opacity: 1;
	color: rgb(92 47 131 / var(--tw-text-opacity));
}

.bg-purple-200 {
	--tw-bg-opacity: 1;
	background-color: rgb(241 229 250 / var(--tw-bg-opacity));
}

.bg-gray-400 {
	--tw-bg-opacity: 1;
	background-color: rgb(199 199 199 / var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(243 243 243 / var(--tw-bg-opacity));
}

.text-red-600 {
	--tw-text-opacity: 1;
	color: rgb(204 41 41 / var(--tw-text-opacity));
}

.text-red-700 {
	--tw-text-opacity: 1;
	color: rgb(181 42 42 / var(--tw-text-opacity));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.25rem /* 20px */ * var(--tw-space-x-reverse));
	margin-left: calc(1.25rem /* 20px */ * calc(1 - var(--tw-space-x-reverse)));
}

.border-\[\#A2A2A2\] {
	--tw-border-opacity: 1;
	border-color: rgb(162 162 162 / var(--tw-border-opacity));
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(2 137 247 / var(--tw-border-opacity, 1)) /* #0289f7 */;
}

.border-red-700 {
	--tw-border-opacity: 1;
	border-color: rgb(181 42 42 / var(--tw-border-opacity));
}

.border-red-600 {
	--tw-border-opacity: 1;
	border-color: rgb(204 41 41 / var(--tw-border-opacity));
}

.border-red-500 {
	--tw-border-opacity: 1;
	border-color: rgb(224 54 54 / var(--tw-border-opacity));
}

.text-\[\#212B36\] {
	--tw-text-opacity: 1;
	color: rgb(33 43 54 / var(--tw-text-opacity));
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgb(224 54 54 / var(--tw-text-opacity));
}

.underline {
	text-decoration-line: underline;
}

.font-\[600\] {
	font-weight: 600;
}

.font-\[700\] {
	font-weight: 700;
}

.font-\[500\] {
	font-weight: 500;
}

.font-\[400\] {
	font-weight: 400;
}

/* flex */
.justify-end {
	justify-content: flex-end;
}

.overscroll-x-auto {
	overscroll-behavior-x: auto;
}

.overscroll-x-contain {
	overscroll-behavior-x: contain;
}

/* shadow */
.shadow-md {
	--tw-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12),
		0px 0.5px 2px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.16);
	--tw-shadow-colored: 0px 0px 1px var(--tw-shadow-color),
		0px 0.5px 2px var(--tw-shadow-color), 0px 2px 3px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
	--tw-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.05),
		0px 10px 24px -3px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0px 0px 1px var(--tw-shadow-color),
		0px 1px 3px var(--tw-shadow-color),
		0px 10px 24px -3px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
	--tw-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35),
		0px 6px 8px -4px rgba(0, 0, 0, 0.1);
	--tw-shadow-colored: 0px 0px 1px var(--tw-shadow-color),
		0px 6px 8px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.max-w-none {
	max-width: none;
}

.max-w-\[20px\] {
	max-width: 20px;
}

.max-h-\[900px\] {
	max-height: 900px;
}

.max-h-\[85vh\] {
	max-height: 85vh;
}

.max-h-\[800px\] {
	max-height: 800px;
}
.hover\:border:hover {
    border-width: 1px;
}

.hover\:bg-blue-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(0 123 224 / var(--tw-bg-opacity, 1)) /* #007be0 */;
}
.hover\:border-blue-300:hover {
    --tw-border-opacity: 1;
    border-color: rgb(167 215 253 / var(--tw-border-opacity, 1)) /* #a7d7fd */;
}

.hover\:border-red-300:hover {
	--tw-border-opacity: 1;
	border-color: rgb(249 198 198 / var(--tw-border-opacity));
}

.hover\:bg-red-600:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(204 41 41 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.uppercase {
	text-transform: uppercase;
}

/* responsive */
@media (min-width: 640px) {
	.sm\:grid-cols-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
@media (min-width: 640px) {
	.sm\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
@media (min-width: 640px) {
	.sm\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
@media (min-width: 640px) {
	.sm\:grid-cols-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}
}

@media (min-width: 640px) {
	.sm\:max-w-\[800px\] {
		max-width: 800px;
	}
}

@media (min-width: 640px) {
	.sm\:flex-nowrap {
		flex-wrap: nowrap;
	}
}

@media (min-width: 640px) {
	.sm\:pl-11 {
		padding-left: 2.75rem /* 44px */;
	}
}

@media (min-width: 640px) {
	.sm\:pl-5 {
		padding-left: 1.25rem /* 20px */;
	}
}

@media (min-width: 640px) {
	.sm\:justify-start {
		justify-content: flex-start;
	}
}

@media (min-width: 640px) {
	.sm\:max-w-lg {
		max-width: 32rem /* 512px */;
	}
}

@media (min-width: 640px) {
	.sm\:max-w-3xl {
		max-width: 48rem /* 768px */;
	}
}
@media (min-width: 640px) {
	.sm\:w-full {
		width: 100%;
	}
}
@media (min-width: 640px) {
	.sm\:mb-0 {
		margin-bottom: 0px;
	}
}
@media (min-width: 640px) {
	.sm\:mb-2 {
		margin-bottom: 0.5rem /* 8px */;
	}
}

@media (min-width: 768px) {
	.md\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.md\:w-\[49\%\] {
		width: 49%;
	}
}
@media (min-width: 768px) {
	.md\:mb-0 {
		margin-bottom: 0px;
	}
}
@media (min-width: 768px) {
	.md\:px-8 {
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
	}
}
@media (min-width: 768px) {
	.md\:w-9\/12 {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.md\:w-3\/12 {
		width: 25%;
	}
}

@media (min-width: 768px) {
	.md\:pl-11 {
		padding-left: 2.75rem /* 44px */;
	}
}

@media (min-width: 768px) {
	.md\:justify-start {
		justify-content: flex-start;
	}
}

@media (min-width: 768px) {
	.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 768px) {
	.md\:px-40 {
		padding-left: 10rem /* 160px */;
		padding-right: 10rem /* 160px */;
	}
}

@media (min-width: 768px) {
	.md\:mx-40 {
		margin-left: 10rem /* 160px */;
		margin-right: 10rem /* 160px */;
	}
}
@media (min-width: 768px) {
	.md\:col-span-5 {
		grid-column: span 5 / span 5;
	}
}
@media (min-width: 768px) {
	.md\:col-span-6 {
		grid-column: span 6 / span 6;
	}
}
@media (min-width: 768px) {
	.md\:flex-nowrap {
		flex-wrap: nowrap;
	}
}

@media (min-width: 1024px) {
	.lg\:col-span-1 {
		grid-column: span 1 / span 1;
	}
}
@media (min-width: 1024px) {
	.lg\:col-span-5 {
		grid-column: span 5 / span 5;
	}
}
@media (min-width: 1024px) {
	.lg\:col-span-6 {
		grid-column: span 6 / span 6;
	}
}
@media (min-width: 1024px) {
	.lg\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.lg\:h-40 {
		height: 10rem /* 160px */;
	}
}

@media (min-width: 1024px) {
	.lg\:w-40 {
		width: 10rem /* 160px */;
	}
}

@media (min-width: 1024px) {
	.lg\:h-36 {
		height: 9rem /* 144px */;
	}
}

@media (min-width: 1024px) {
	.lg\:w-36 {
		width: 9rem /* 144px */;
	}
}

@media (min-width: 1024px) {
	.lg\:px-1 {
		padding-left: 0.25rem /* 4px */;
		padding-right: 0.25rem /* 4px */;
	}
}

@media (min-width: 1024px) {
	.lg\:px-4 {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;
	}
}

@media (min-width: 1280px) {
	.xl\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.xl\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}

@media (min-width: 1280px) {
	.xl\:px-4 {
		padding-left: 1rem /* 16px */;
		padding-right: 1rem /* 16px */;
	}
	.xl\:px-8 {
		padding-left: 2rem /* 32px */;
		padding-right: 2rem /* 32px */;
	}
	.xl\:px-10 {
		padding-left: 2.5rem /* 40px */;
		padding-right: 2.5rem /* 40px */;
	}
	.xl\:px-12 {
		padding-left: 3rem /* 48px */;
		padding-right: 3rem /* 48px */;
	}
	.xl\:mx-14 {
		margin-left: 3.5rem /* 56px */;
		margin-right: 3.5rem /* 56px */;
	}
}

@media (min-width: 1280px) {
	.xl\:px-3 {
		padding-left: 0.75rem /* 12px */;
		padding-right: 0.75rem /* 12px */;
	}
	.xl\:right-14 {
		right: 3.5rem /* 56px */;
	}
}
