body {
	font-family: 'Inter', sans-serif;
}

.content-page h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.content-page h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.content-page h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.content-page h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.content-page h5 {
	display: block;
	font-size: 0.83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}
.content-page h6 {
	display: block;
	font-size: 0.67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.content-page a {
	color: #15c;
	text-decoration: underline;
}

.content-page img {
	display: inline-block;
}

/* start scroll */
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	opacity: 0.4;
	background: #bfc1c2;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #949393;
}

.section-slide-category ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.section-slide-category ::-webkit-scrollbar-thumb {
	opacity: 0.4;
	background: #e0e5e9;
	border-radius: 5px;
}

.section-slide-category ::-webkit-scrollbar-thumb:hover {
	background: #b6b6b6;
}

/* end scroll */

.dropdown:hover .dropdown-menu {
	display: block;
}

.nav li a.active, .nav li .menu-hover:hover {
	--tw-text-opacity: 1;
	color: rgb(5 117 230 / var(--tw-text-opacity));
}


.group-dropdown-sub {
	width: 100%;
	transition: ease-in 1s;
}

.group-dropdown-sub-item:hover,
.group-dropdown-sub-item-mobile:hover {
	background-color: #f4f4f9;
	--tw-text-opacity: 1;
	color: rgb(5 117 230 / var(--tw-text-opacity));
}

/* .group-dropdown::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
} */

.width-content-max {
	display: inline-block;
	width: max-content;
}

.header-body {
	background-color: #fafafa;
	height: 300px;
}

.btn-register {
	background-color: #0575E6;
	height: 100%;
	color: white;
}

.btn-register:hover {
	background-color: #0d70d3;
}

.divider {
	position: relative;
	/* z-index: 8; */
	margin-top: 20px;
	margin-bottom: 20px;
	height: 1px;
	opacity: 0.4;
	background: linear-gradient(
		90deg,
		rgba(206, 211, 246, 0) 0%,
		#bbb 38%,
		#bbb 64%,
		rgba(206, 211, 246, 0) 99%
	);
}

.checker {
	display: flex;
	width: 18.789px;
	height: 18px;
	margin-right: 8px;
}

.svg-active:hover svg path {
	fill: #0575E6;
}

.box-shadow-custom {
	border-radius: 16px;
	opacity: 1;
	background: #fff;

	/* shadow/card */
	/* box-shadow: 0px 12px 24px -4px rgba(34, 36, 37, 0.12),
		0px 0px 2px 0px rgba(20, 20, 20, 0.2); */
}

.box-shadow-custom:hover {
	box-shadow: 0px 12px 24px -4px rgba(71, 171, 209, 0.4),
		0px 0px 2px 0px rgba(71, 171, 209, 0.3);
}

.page li a.active {
	opacity: var(--textfield-standard-input-small-pt, 1);
	background: var(--action-selected, rgba(0, 0, 0, 0.08));
}

.page li a {
	display: flex;
	justify-content: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.page li a.opacity {
	opacity: 0.5;
}

.sidebar {
	opacity: 1;
	background: #fff;

	/* shadow/card */
	box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
		0px 0px 2px 0px rgba(145, 158, 171, 0.2);
}

.blur-box {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	filter: blur(30px); /* Điều chỉnh giá trị để thay đổi mức độ mờ */
	height: 20px;
	z-index: -1;
}

.header-body-section-1 {
	top: 0;
	right: 0;
	width: 500px;
	height: 65px;
}

.header-body-section-2 {
	bottom: 0;
	left: 0;
	width: 500px;
	height: 50px;
}

.header-body-section-3 {
	bottom: 0;
	right: 0;
	width: 600px;
	height: 60px;
	opacity: 1;
}

.header-body-section-4 {
	bottom: 0;
	right: 0;
	width: 700px;
	height: 50px;
	opacity: 0.8;
}

.image-app {
	width: 132px;
	height: 132px;
}

.line-clamp-2 {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-title {
	font-size: 60px;
}

.text-size-logo {
	font-size: 40px;
}

.button-to-top {
	padding: 10px;
	border-radius: 50%;
}

.logo-app {
	width: 119px;
	height: 119px;
	max-width: none;
}

.tally {
	width: 1px;
	align-self: stretch;
	opacity: 1;
	background: #dfe3e8;
}

.image-screenshot {
	width: 120px;
	height: 100px;
}
.image-screenshot-large {
	width: 100%;
	height: 300px;
}

.image-screenshot.active {
	border: 3px solid #0575E6;
	opacity: 1;
}

.section-app-empty {
	min-height: 500px;
}

.image-empty-app {
	height: 232px;
}

.image-empty-1 {
	left: -95px;
	top: -20px;
}

.image-empty-2 {
	left: -70px;
}
